<div class="container">
	<form method="POST" class="form-group" action="/submit">
		<div class="form-group">
			<input 
				type="text" 
				class="form-control" 
				name="name" 
				placeholder="Name"
			>
		</div>
		<div class="form-group">
			<input 
				type="text" 
				name="status" 
				class="form-control" 
				placeholder="Status"
			>
		<div class="form-group">
			<input 
				type="submit"
				class="btn btn-success form-control" 
				value="Add"
			>
		</div>
	</form>
</div>
